@mixin back-style1 {
    background-color: $blackAlphaDark !important;
    border: 1px solid $firstAlpha !important;
}

@mixin back-style2 {
    background: linear-gradient(300deg, $darkAlpha, #000);
}

@mixin back-style3 {
    background: radial-gradient($blackAlphaDark 40%, $firstAlpha 249%);
    border: 1px solid $firstAlpha;
}

@mixin input($focused, $rounded) {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 1px $firstAlphaSuper !important;

    textarea::placeholder {
        color: $firstAlpha;
    }

    @if $rounded {
        border-radius: 5px;
    }

    @if not $focused {
        &:focus-within {
            background: $darkAlphaDarker;
            box-shadow: inset 0 0 0 1px $highlight !important;
        }
    }

    @else {
        &.focused {
            background: $darkAlphaDarker;
            box-shadow: inset 0 0 0 1px $highlight !important;
        }
    }
}